---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="py-5 border-t flex flex-col gap-5 px-3 mx-auto">
  <div class="flex w-full flex-col gap-3 items-center justify-between mx-auto">
    <SocialLinks />
    <nav>
      <ul class="flex flex-row gap-1 text-sm justify-evenly flex-wrap">
        {
          [
            { name: "Privacy Policy", href: "/privacy-policy" },
            { name: "Imprint", href: "/imprint" },
            { name: "Colophon", href: "/colophon" },
          ].map((link) => (
            <li class="px-2">
              <a
                class="notouch:hover:underline underline-offset-2 cursor-auto"
                href={link.href}
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
