---
import { Image } from "astro:assets";
import ProfileImage from "../images/cut-out.png";

export type ActiveTabType = "/projects" | "/articles" | "/books";
interface Props {
  activeTab: ActiveTabType;
}

const { activeTab } = Astro.props;
---

<header
  class="flex flex-col sm:flex-row flex-grow justify-between lg:flex-col px-4 lg:px-0 gap-5 lg:gap-10 items-center w-full py-5"
>
  <a
    transition:animate="none"
    href="/"
    class="w-fit lg:w-full relative px-3 cursor-pointer"
  >
    <Image
      transition:persist
      transition:name="profile-image"
      class="w-full h-auto z-20 relative max-w-[100px] lg:max-w-[200px]"
      style={{
        // clipPath: "polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)",
      }}
      densities={[1, 2, 3]}
      width={200}
      src={ProfileImage}
      alt="Image of Christian Cito, a 26 year old white man. I'm wearing a loose blue shirt and am looking to the side."
    />
  </a>

  <nav class="w-fit lg:w-full italic space-y-5 lg:flex-grow">
    <ul class="flex gap-2 lg:flex-col overflow-auto">
      {
        [
          {
            name: "articles",
            href: "/articles",
          },
          { name: "projects", href: "/projects" },
          { name: "books", href: "/books" },
        ].map((link) => (
          <li class="">
            <a
              data-active={String(link.href === activeTab)}
              class="block w-full px-3 lg:px-5 underline-offset-2 cursor-pointer lg:border-b data-[active=true]:text-brand hover:text-brand  break-keep group py-3 relative"
              href={link.href}
            >
              <span class="text-3xl absolute left-0 top-1/2 -translate-y-1/2 xl:text-5xl group-data-[active=true]:text-brand group-hover:text-brand">
                /
              </span>
              <span class="group-hover:!text-brand ml-1 font-medium text-xl xl:text-2xl text-[#444] group-data-[active=true]:!text-brand">
                {link.name}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<!-- <script>
  const navLinks = document.querySelectorAll("nav a");

  navLinks.forEach((link) => {
    // `slice` here to remove the first `/` in pathname
    const currentPath = window.location.pathname.slice(1);

    // `link.href` returns a whole url, such as: "https://somedomain.com/posts" and we only need the last part
    const hrefArray = link.href.split("/");
    const thisPath = hrefArray[hrefArray.length - 1];

    link.setAttribute("data-active", String(currentPath === thisPath));
  });
</script> -->
