---
import { Image } from "astro:assets";
import ProfileImage from "../images/cut-out.png";
import SocialLinks from "./SocialLinks.astro";

export type ActiveTabType = "/projects" | "/articles" | "/books";
interface Props {
  activeTab: ActiveTabType;
}

const { activeTab } = Astro.props;
---

<header
  class="flex flex-col sm:flex-row flex-grow justify-between lg:flex-col px-4 lg:px-0 gap-5 lg:gap-10 items-center w-full py-5"
>
  <a href="/" class="relative lg:mt-10 block cursor-pointer">
    <Image
      transition:persist
      transition:name="profile-image"
      class="aspect-[200/243] h-auto z-20 relative max-w-[100px] lg:max-w-[175px] xl:max-w-[200px]"
      densities={[1, 2, 3]}
      width={200}
      src={ProfileImage}
      alt="Image of Christian Cito, a 26 year old white man. I'm wearing a loose blue shirt and am looking to the side."
    />
  </a>

  <nav class="w-fit lg:w-full italic gap-2 lg:flex-grow flex flex-col">
    <SocialLinks
      size="20"
      className="justify-center sm:justify-end lg:hidden"
    />
    <ul class="flex gap-2 lg:flex-col overflow-auto">
      {
        [
          {
            name: "articles",
            href: "/articles",
          },
          { name: "projects", href: "/projects" },
          { name: "books", href: "/books" },
        ].map((link) => (
          <li class="">
            <a
              class="block w-full px-3 lg:px-5 underline-offset-2 cursor-pointer lg:border-b text-[#444] data-[active=true]:text-brand notouch:hover:text-brand  break-keep group py-3 relative"
              href={link.href}
            >
              <span class="text-3xl absolute left-0 top-1/2 -translate-y-1/2 xl:text-5xl group-data-[active=true]:text-brand notouch:group-hover:text-brand">
                /
              </span>
              <span class="notouch:group-hover:!text-brand ml-1 font-medium text-xl xl:text-2xl text-[#444] group-data-[active=true]:!text-brand">
                {link.name}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
