---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="py-4 sticky top-0 backdrop-blur-md z-20 bg-white/90 border-b">
  <h1 class="font-serif text-6xl">
    {title}
  </h1>
</div>
