---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="py-6 sticky scale-[1.01] top-0 z-20 bg-white border-b">
  <h1 class="font-serif text-6xl">
    {title}
  </h1>
</div>
