---
import { SocialType, socials } from "../data/socials";
import SocialIcon from "../components/SocialIcon.astro";
import clsx from "clsx";

interface SocialLinks {
  size?: string;
  className?: string;
}

const { size, className } = Astro.props;

const socialLinks: {
  type: SocialType;
  href: string;
}[] = [
  { type: "twitter", href: socials.twitter },
  { type: "github", href: socials.github },
  {
    type: "youtube",
    href: socials.youtube,
  },
  {
    type: "instagram",
    href: socials.instagram,
  },
  {
    type: "linkedin",
    href: socials.linkedin,
  },
];
---

<ul
  class={clsx(
    "flex not-prose flex-row items-center gap-1 flex-wrap",
    className ?? "justify-center",
  )}
>
  {
    socialLinks.map((link) => (
      <li class="p-2">
        <a
          class="cursor-pointer"
          href={link.href}
          title={`Link to my ${link.type}`}
        >
          <SocialIcon size={size ?? "16"} type={link.type} />
        </a>
      </li>
    ))
  }
</ul>
