---
const { heading } = Astro.props;
---

<li class="pl-2">
  <a
    class="no-underline border-l-2 pl-3 border-transparent data-[active=true]:border-brand data-[active=true]:text-brand transition-colors notouch:hover:text-black text-black md:text-inherit py-2 block"
    href={"#" + heading.slug}
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3 pl-2 flex flex-col gap-1">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
