---
import RootLayout from "./RootLayout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<RootLayout title={title}>
  <main id="content" class="px-5 max-w-4xl py-10">
    <slot />
  </main>
</RootLayout>
