---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SkipToContent from "../components/SkipToContent.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <SkipToContent />
  <Header />
  <main id="content" class="mx-auto lg:max-w-3xl xl:max-w-4xl py-10">
    <slot />
  </main>
  <Footer />
</BaseLayout>
