---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SkipToContent from "../components/SkipToContent.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <SkipToContent />
  <div
    class="flex flex-col md:fixed md:top-0 md:left-0 md:h-[100dvh] md:flex-row w-full md:z-10"
  >
    <aside
      class="md:w-[250px] border-r justify-between md:px-5 flex flex-col lg:w-[300px] w-full flex-shrink-0"
      aria-label="Sidebar with Header and Footer"
    >
      <Header />

      <div class="hidden md:block">
        <Footer />
      </div>
    </aside>

    <div
      class="flex-grow relative md:z-20 md:pl-10 shadow-2xl overflow-auto min-h-[100dvh]"
    >
      <slot />

      <div class="md:hidden">
        <Footer />
      </div>
    </div>
  </div>
</BaseLayout>
