---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SkipToContent from "../components/SkipToContent.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
  title: string;
  description: string;
  activeTab: "/projects" | "/articles" | "/books";
}

const { title, description, activeTab } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <SkipToContent />
  <div
    class="flex flex-col lg:fixed lg:top-0 lg:left-0 lg:h-[100dvh] lg:flex-row w-full lg:z-10"
  >
    <aside
      transition:persist
      transition:name="sidebar"
      aria-expanded="true"
      class="lg:w-[60px] group/sidebar aria-expanded:lg:w-[200px] lg:border-r justify-between lg:px-5 flex flex-col aria-expanded:xl:w-[350px] aria-expanded:w-full flex-shrink-0 border-b lg:border-b-0 relative transition-all overflow-clip"
      aria-label="Sidebar with Header and Footer"
    >
      <button
        type="button"
        id="toggleSidebar"
        class="lg:block hidden text-gray-500 notouch:hover:text-gray-900 rounded-md left-3 notouch:hover:bg-slate-200 p-1 absolute top-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="group-aria-expanded/sidebar:scale-x-[1] scale-x-[-1] transition-all duration-300"
          ><path d="M3 19V5"></path><path d="m13 6-6 6 6 6"></path><path
            d="M7 12h14"></path></svg
        >
      </button>
      <div class="group-aria-expanded/sidebar:block lg:hidden">
        <Header activeTab={activeTab} />
      </div>

      <div class="hidden group-aria-expanded/sidebar:lg:block">
        <Footer />
      </div>
    </aside>

    <div
      id="scroll-area"
      class="flex-grow relative lg:z-20 lg:pl-10 xl:pl-14 xl:pl-18 lg:shadow-2xl lg:overflow-auto min-h-[100dvh] scroll-smooth"
    >
      <slot />

      <div class="lg:hidden">
        <Footer />
      </div>
    </div>
  </div>

  <script type="text/javascript" is:inline>
    document.addEventListener(
      "astro:page-load",
      () => {
        document
          .querySelector("#toggleSidebar")
          .addEventListener("click", (e) => {
            const sidebar = e.target.closest("aside");

            sidebar.setAttribute(
              "aria-expanded",
              sidebar.getAttribute("aria-expanded") === "true"
                ? "false"
                : "true",
            );
          });
      },
      { once: true },
    );
  </script>
</BaseLayout>
